.navbar-default {
  .navbar-brand {
    color: #fff;
    padding: 11px 15px;
    &:hover,
    &:focus {
      color: #fff;
    }
  }
  .navbar-nav > li > a {
    color: #fff;
    padding: 11px 15px;
    &:hover,
    &:focus {
      color: #fff;
      background-color: #3d6898;
    }
  }

}

.navbar-collapse {
  padding: 0;
}